<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">TARJETA CRÉDITO</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <!-- esto es para el formulario -->
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Agregar Tarjeta</h5>

                    <form [formGroup]="form" (ngSubmit)="agregarTarjeta()">
                        <!-- el nombre "form" debe de ser igual a la variable que tenemos en tarjeta-creditos.ts (form: FormGroup;) -->
                        <!-- cuando el usuario de al boton aceptar se ejecutara la funcion agregarTarjeta() -->
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-slab-duo fa-regular fa-user"
                                    [class.green-icon]="this.form.get('titulo')?.valid" [class.red-icon]="this.form.get('titulo')?.invalid &&
                                    this.form.get('titulo')?.touched">
                                    <!-- esto es para cambiar el color del icono -->
                                    <!-- si algun campo del formulario falta, este formulario es invalido
                                    en caso contrario, es valido -->
                                    <!-- touch significa que si el formulario ha sido tocado -->
                                </i>

                            </span>
                            <input formControlName="titulo" type="text" class="form-control" placeholder="Titular">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-chisel fa-regular fa-credit-card"
                                    [class.green-icon]="this.form.get('numeroTarjeta')?.valid" [class.red-icon]="this.form.get('numeroTarjeta')?.invalid &&
                                    this.form.get('numeroTarjeta')?.touched">
                                </i>
                            </span>
                            <input formControlName="numeroTarjeta" maxlength="16" type="text" class="form-control"
                                placeholder="Número de Tarjeta">
                            <!-- formControlName debe de ser igual a lo que esta en nuesto constructor en tarjeta-creditos.ts (constructor(private fb: FormBuilder))  -->
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar"
                                            [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                                            [class.red-icon]="this.form.get('fechaExpiracion')?.invalid &&
                                    this.form.get('fechaExpiracion')?.touched"></i>
                                    </span>
                                    <input formControlName="fechaExpiracion" maxlength="5" type="text" class="form-control"
                                        placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-key" [class.green-icon]="this.form.get('cvv')?.valid"
                                            [class.red-icon]="this.form.get('cvv')?.invalid &&
                                    this.form.get('cvv')?.touched"></i>
                                    </span>
                                    <input formControlName="cvv" maxlength="3" type="password" class="form-control" placeholder="CVV">
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                                <!-- la parte del disabled es para cuando el formulario aun no es valido -->
                                <i class="fa-sharp fa-solid fa-database"></i>&nbsp; Aceptar
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col lg-6">
            <!-- para listar las tarjetas de credito -->
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Listado de Tarjetas</h5>
                    <table class="table">
                        <tbody>
                            <!-- aqui se utilizara la lista listarTarjetas que esta en tarjeta-credito.ts -->
                            <tr *ngFor="let tarjeta of listarTarjetas">
                                <td>{{tarjeta.titulo}}</td>
                                <td>{{tarjeta.numeroTarjeta}}</td>
                                <td>{{tarjeta.fechaExpiracion}}</td>
                                <td>
                                    <i class="far fa-solid fa-pen-to-square text-info"></i>
                                </td>
                                <td>
                                    <i class="far fa-notdog-duo fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>